html, body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, blue, red, green);
}

header{
    position: absolute;
    width: 100%;
    top: 0%;
    text-align: center;
    color: black;
    font-family: "comic sans ms", Times, serif;
    background-color: yellow;
    border-bottom: 3px solid black;
}

a{
    font-size: 0.4cm;
    font-family: "comic sans ms", time,serif;
    color: red;
}

#inicio{
    position: absolute;
    top: 0%;
    right: 2%;
    color: white;
    background-color: #078ee4;
    font-size: 1.4em;
    border-radius: 15px;

}

#registrar{
    background-color: yellowgreen;
    color: white;
    border-radius: 15px;
    font-size: 1.4em;
}

#limpiar{
    background-color: yellow;
    color: black;
    border-radius: 15px;
    font-size: 1.4em;
}

.botonera{
    position: absolute;
    top: 63%;
    left: 40%;
}

label{
    position: absolute;
    left: 2%;
}

fieldset{
    text-align: right;
    position: absolute;
    top: 20%;
    width: 600px;
    right: 26%;
    font-family: "comic sans ms", Times, serif;
    font-size: 25px;
    color: white;
    border: 5px solid yellow;
    background: linear-gradient(to right,orangered,white);
    border-radius: 8px;
}

footer{
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: 0%;
    text-align: center;
    border-top: 3px solid black;
    font-family: "comic sans ms", Times, serif;
    font-size: 0.7cm;
}

