html,body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, blue, red, green);
}

header{
    position: absolute;
    top: 0%;
    height: 25%;
    background-color: yellow;
    width: 100%;
    border-bottom: 3px solid black;
    font-family: "comic sans ms";
    font-size: 1em;
}

h1,h2{
    text-align: center;
}

#logo{
    position: absolute;
    top: 7%;
    right: 23%;
    height: 15%;
}

.botonera{
    position: relative;
    top: 0%;
    right: 10px;
    text-align: right;
    border-radius: 15px;
}

#inicio, #listar, #agregar, #registrar{
    color: white;
    background-color: #078ee4;
    font-size: 1.4em;
    border-radius: 15px;
}
#login{
    color: white;
    background-color: yellowgreen;
    font-size: 1.4em;
    border-radius: 15px;
}
#logout{
    color: white;
    background-color: red;
    font-size: 1.4em;
    border-radius: 15px;
}


footer{
    position: absolute;
    bottom: 0%;
    background-color: yellow;
    width: 100%;
    border-top: 3px solid black;
    font-family: "comic sans ms";
    font-size: 1.2em;
    text-align: center;
}

#Carousel{
    position: relative;
    text-align: center;
    top: 10em;
    height: 25em;
}

.tarjetas{
    position: relative;
    left: 30em;
    width: 40%;
    border-radius: 15px;
    background: linear-gradient(to right, orangered, yellow);
}

#foto{
    position: relative;
    height: 16em;
    
}

#nombre{
    color: black;
    font-size: 2.5em;
    font-family: "comic sans ms", times, serif;
}