html,body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, blue, red, green);
}

#logo{
    position: absolute;
    width: 15%;
    top: 11%;
    right: 20%;
}


div.item{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

div.botones{
    padding-bottom: 50px;
    margin-top: 0;
    display: inline-block;
    float: right;
}

div.h{
    background: linear-gradient(to right, yellow, orange );
    top: 50%;
    height: 70%;
    width: 100%;
    padding-top: 1.5cm;
    border-bottom: 3px solid black;
    text-align: center;
    color: black;
    font-family: "comic sans ms", Times, serif;
}

#Carousel{
    position: absolute;
    width: 100%;
    top: 32%;
}

footer{
    width: 100%;
    background-color: yellow;
    color: black;
    position: absolute;
    bottom: 0%;
    text-align: center;
    border-top: 3px solid black;
    font-family: "comic sans ms", Times, serif;
    font-size: 0.7cm;
}

#alan{
    position: absolute;
    width: 35%;
    left: 3%;
    top: 3%;
}

fieldset.alan{
    position: absolute;
    left: -20%;
    border: 8px solid yellow;
    width: 450px;
    height: 200px;
    background: linear-gradient(to right, orangered, white);
    border-radius: 8px;
}

